[Unit]
Description=Phosphor IPMI KCS DBus Bridge(SMM)
After=phosphor-ipmi-host.service

[Service]
Restart=always
ExecStart={sbindir}/kcsbridged --d="/dev/ipmi-kcs4" --i="SMM"
SyslogIdentifier=kcsbridged_SMM
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
