[Unit]
Description=Phosphor IPMI KCS DBus Bridge(SMS)
After=phosphor-ipmi-host.service

[Service]
Restart=always
ExecStart={sbindir}/kcsbridged --d="/dev/ipmi-kcs3"
SyslogIdentifier=kcsbridged
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
