[Unit]
Description=Check Host%i status on BMC reset
Wants=mapper-wait@-xyz-openbmc_project-control-host%i.service
After=mapper-wait@-xyz-openbmc_project-control-host%i.service
Wants=obmc-host-reset-running@%i.target
Before=obmc-host-reset-running@%i.target
Wants=op-reset-chassis-on@%i.service
After=op-reset-chassis-on@%i.service
Conflicts=obmc-host-stop@%i.target
ConditionPathExists=/run/openbmc/chassis@%i-on

[Service]
RemainAfterExit=yes
Type=oneshot
ExecStart=/bin/sh -c "if [ $(busctl get-property `mapper get-service /xyz/openbmc_project/Chassis/Control/Power%i` /xyz/openbmc_project/Chassis/Control/Power%i xyz.openbmc_project.Chassis.Control.Power vrd_good | sed 's/i\s*[1]/on/' | grep on | wc -l) != 0 ]; then mkdir -p /run/openbmc/ && touch /run/openbmc/host@%i-on; fi"
SyslogIdentifier=phosphor-host-check

[Install]
WantedBy=obmc-host-reset@%i.target
