[Unit]
Description=Close Muxes
ConditionFileNotEmpty=/usr/bin/CloseMuxes.py

[Service]
ExecStart=/usr/bin/env CloseMuxes.py
Type=oneshot

[Install]
WantedBy=basic.target
