[Unit]
Description=Check for DHCP address
After=network.target

[Service]
Type=simple
ExecStart=/bin/sh -c '/usr/bin/dhcp-check.sh'

[Install]
WantedBy=multi-user.target
