[Unit]
Description=Reset BMC Hardware Watchdog Failure Count

[Service]
ExecStart=busctl call xyz.openbmc_project.U_Boot.Environment.Manager \
          /xyz/openbmc_project/u_boot/environment/mgr \
          xyz.openbmc_project.U_Boot.Environment.Manager \
          Write ss bootfailures 0
Type=oneshot

