# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "14"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-poky \
  ##OEROOT##/meta-openembedded/meta-oe \
  ##OEROOT##/meta-openembedded/meta-networking \
  ##OEROOT##/meta-openembedded/meta-perl \
  ##OEROOT##/meta-openembedded/meta-python \
  ##OEROOT##/meta-phosphor \
  ##OEROOT##/meta-aspeed \
  ##OEROOT##/meta-x86 \
  ##OEROOT##/meta-openbmc-mods \
  ##OEROOT##/meta-intel-openbmc \
  ##OEROOT##/meta-openbmc-mods/meta-common \
  ##OEROOT##/meta-openbmc-mods/meta-common-small \
  ##OEROOT##/meta-openbmc-mods/meta-ast2500 \
  ##OEROOT##/meta-openbmc-mods/meta-wolfpass \
  ##OEROOT##/meta-security \
  "
