[Unit]
Description=Intel BMC SMBIOS MDR V2

[Service]
Restart=always
RestartSec=5
StartLimitBurst=10
ExecStart=/usr/bin/env smbiosmdrv2app
SyslogIdentifier=smbiosmdrv2app

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
