[Unit]
Description=Flash BMC with fwupd script : %I

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/fwupd.sh file:////tmp/images/%i/image-runtime
SyslogIdentifier=fwupd