[Unit]
Description=Phosphor Inband IPMI

[Service]
Restart=always
RestartSec=5
StartLimitBurst=10
ExecStart=/usr/bin/env ipmid
SyslogIdentifier=ipmid
RuntimeDirectory = ipmi
RuntimeDirectoryPreserve = yes
StateDirectory = ipmi

[Install]
WantedBy=basic.target
