[Unit]
Description=Add force power offf flag for Power%i
Wants=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power%i.service
After=mapper-wait@-xyz-openbmc_project-Chassis-Control-Power%i.service
Conflicts=obmc-chassis-poweron@%i.target
Conflicts=obmc-host-start@%i.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "mkdir -p /run/openbmc && touch /run/openbmc/host@%i-request"
SyslogIdentifier=intel-power-forceoff
StartLimitInterval=0

[Install]
WantedBy=obmc-chassis-poweroff@%i.target
