[Unit]
Description=Broadcast pre host start signal to dbus
Wants=mapper-wait@-xyz-openbmc_project-state-host%i.service
After=mapper-wait@-xyz-openbmc_project-state-host%i.service

[Service]
Restart=no
Type=oneshot
ExecStart=/bin/sh -c "dbus-send --system --type=signal /xyz/openbmc_project/state/host0 xyz.openbmc_project.State.Host.PreHostStart"
SyslogIdentifier=prehoststartsignal

[Install]
WantedBy=obmc-host-start-pre@%i.target
