[Unit]
Description=Reboot Host%i
Wants={SYSTEMD_DEFAULT_TARGET}
After={SYSTEMD_DEFAULT_TARGET}
Wants=mapper-wait@-xyz-openbmc_project-Chassis-Control-Chassis%i.service
After=mapper-wait@-xyz-openbmc_project-Chassis-Control-Chassis%i.service
Conflicts=obmc-host-startmin@%i.target
RefuseManualStop=yes
OnFailure=obmc-chassis-poweroff@%i.target
OnFailureJobMode=flush
