[Unit]
Description=Warm reset Host%i
Wants={SYSTEMD_DEFAULT_TARGET}
After={SYSTEMD_DEFAULT_TARGET}
Wants=mapper-wait@-xyz-openbmc_project-Chassis-Control-Chassis%i.service
After=mapper-wait@-xyz-openbmc_project-Chassis-Control-Chassis%i.service
Conflicts=obmc-host-stop@%i.target
RefuseManualStop=yes
OnFailure=obmc-host-quiesce@%i.target
OnFailureJobMode=flush
