
[Unit]
Description=Intel Power Control%i
Wants=mapper-wait@-xyz-openbmc_project-control-gpio-Power_Good.service
After=mapper-wait@-xyz-openbmc_project-control-gpio-Power_Good.service

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/env power-control
SyslogIdentifier=power-control
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}

