[Unit]
Description=Intel Buttons%i

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/env buttons
SyslogIdentifier=buttons
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}

