[Unit]
Description=PCH BMC time sync service
Conflicts=systemd-timesyncd.service
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service

[Service]
Restart=always
RestartSec=10
ExecStart=/usr/bin/pch-time-sync
StartLimitInterval=0
Type=simple

[Install]
WantedBy=multi-user.target
