[Unit]
Description=Intel BMC At Scale Debug
Requires=network-online.target

[Service]
Restart=always
RestartSec=30
ExecStart={bindir}/asd
Type=simple
SyslogIdentifier=asd


