[Unit]
Description=Re-enable NICs mistakenly disabled by earlier BMC firmware
Wants=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/enable-nics.sh

[Install]
WantedBy=network.target
