name: CI

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Run a multi-line script
      run: |
        sudo apt update
        sudo apt-get install gawk wget git-core diffstat unzip texinfo gcc-multilib build-essential chrpath socat lz4
        sudo apt autoremove
        rm -rf build
        export TEMPLATECONF=meta-openbmc-mods/meta-wht/conf
        source oe-init-build-env
        echo "INHERIT += \"rm_work_and_downloads\"" >> conf/local.conf
        bitbake intel-platforms
